interactions:
- request:
    body: echo_collection_id%5B%5D=C1259976861-ASF&echo_collection_id%5B%5D=C1260721945-ASF&echo_collection_id%5B%5D=C2777443834-ASF&echo_collection_id%5B%5D=C2803501758-ASF&attribute%5B%5D=string%2COPERA_BURST_ID%2Ct087_185683_iw2&temporal=2022-10-01T00%3A00%3A00Z%2C2023-03-29T00%3A00%3A00Z%2C&page_size=250&options%5Btemporal%5D%5Band%5D=true&sort_key%5B%5D=-end_date&sort_key%5B%5D=granule_ur&options%5Bplatform%5D%5Bignore_case%5D=true&provider=ASF
    headers:
      Client-Id:
      - asf_search_v7.1.2
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://cmr.earthdata.nasa.gov/search/granules.umm_json
  response:
    body:
      string: '{"hits":30,"took":467,"items":[{"meta":{"concept-type":"granule","concept-id":"G2808268079-ASF","revision-id":1,"native-id":"OPERA_L2_CSLC-S1_T087-185683-IW2_20230322T161649Z_20230929T071324Z_S1A_VV_v1.0","collection-concept-id":"C2803501758-ASF","provider-id":"ASF","format":"application/vnd.nasa.cmr.umm+json","revision-date":"2023-11-29T01:58:47.138Z"},"umm":{"TemporalExtent":{"RangeDateTime":{"BeginningDateTime":"2023-03-22T16:16:49Z","EndingDateTime":"2023-03-22T16:16:52Z"}},"OrbitCalculatedSpatialDomains":[{"OrbitNumber":47759}],"GranuleUR":"OPERA_L2_CSLC-S1_T087-185683-IW2_20230322T161649Z_20230929T071324Z_S1A_VV_v1.0","AdditionalAttributes":[{"Name":"ASCENDING_DESCENDING","Values":["DESCENDING"]},{"Name":"BEAM_MODE","Values":["IW"]},{"Name":"GROUP_ID","Values":["S1A_IWDV_0527_0534_047759_087"]},{"Name":"LOOK_DIRECTION","Values":["RIGHT"]},{"Name":"OPERA_BURST_ID","Values":["T087_185683_IW2"]},{"Name":"PATH_NUMBER","Values":["87"]},{"Name":"POLARIZATION","Values":["VV"]},{"Name":"PROCESSING_TYPE","Values":["CSLC"]},{"Name":"PRODUCT_VERSION","Values":["1.0"]},{"Name":"SUBSWATH_NAME","Values":["IW2"]}],"SpatialExtent":{"HorizontalSpatialDomain":{"Geometry":{"GPolygons":[{"Boundary":{"Points":[{"Latitude":19.41417,"Longitude":-155.34885},{"Latitude":19.5636,"Longitude":-156.17791},{"Latitude":19.39724,"Longitude":-156.21094},{"Latitude":19.24471,"Longitude":-155.36646},{"Latitude":19.41417,"Longitude":-155.34885}]}}]}}},"ProviderDates":[{"Type":"Insert","Date":"2023-11-29T01:58:45Z"},{"Type":"Update","Date":"2023-11-29T01:58:45Z"}],"CollectionReference":{"ShortName":"OPERA_L2_CSLC-S1_CALVAL_V1","Version":"1"},"PGEVersionClass":{"PGEName":"CSLC_S1_PGE","PGEVersion":"2.0.0"},"RelatedUrls":[{"URL":"https://datapool.asf.alaska.edu/BROWSE/OPERA-S1/OPERA_L2_CSLC-S1_T087-185683-IW2_20230322T161649Z_20230929T071324Z_S1A_VV_v1.0_BROWSE.png","Type":"GET
        RELATED VISUALIZATION","Description":"Download OPERA_L2_CSLC-S1_T087-185683-IW2_20230322T161649Z_20230929T071324Z_S1A_VV_v1.0_BROWSE.png","Format":"PNG"},{"URL":"s3://asf-cumulus-prod-opera-browse/OPERA_L2_CSLC-S1_CALVAL/OPERA_L2_CSLC-S1_T087-185683-IW2_20230322T161649Z_20230929T071324Z_S1A_VV_v1.0/OPERA_L2_CSLC-S1_T087-185683-IW2_20230322T161649Z_20230929T071324Z_S1A_VV_v1.0_BROWSE.png","Type":"GET
        RELATED VISUALIZATION","Description":"This link provides direct download access
        via S3 to OPERA_L2_CSLC-S1_T087-185683-IW2_20230322T161649Z_20230929T071324Z_S1A_VV_v1.0_BROWSE.png","Format":"PNG"},{"URL":"https://datapool.asf.al[...]
[...]
